*{
    margin: 0;
    padding: 0;
}
.hdr{
    padding-top: 2vh;
    padding-left:5%;
    background-color: black;
    color: #FFFFFF;
    width: 100%;
    height:8vh;
    display: flex;
}
.dropdown{
    margin-left: 55%;
    width:25%;
}
.dropdown-content.drop{
    color:black;
    background-color: #FFFFFF;
    width:85%;
    margin-left:10%;
}
.lgo{
    margin-left: 78%;
}